<div class="lcars-screen">
  <div class="buttons">
    <a href="{{ "/tutorials/cli/" | relURL }}">Command Line Interface</a>
    <a href="{{ "/tutorials/inventory/" | relURL }}">Multiple remotes, all at once</a>
    <a href="{{ "/tutorials/setup-auth/" | relURL }}">Connect via SSH</a>
    <a href="{{ "/tutorials/setup-auth/" | relURL }}">Completely agent-less</a>
    <a href="{{ "/tutorials/cicd/" | relURL }}">Integrate seamlessly in your CI/CD</a>
  </div>
  <div class="viewport">
    <canvas id="lcars-canvas"></canvas>
  </div>
</div>

<div id="lcars-assets" class="hidden">
  <img id="lcars-asset-desktop" src="{{ "/img/desktop.svg" | relURL }}" />
  <img id="lcars-asset-server" src="{{ "/img/server.svg" | relURL }}" />
  <img id="lcars-asset-server-pending" src="{{ "/img/server-pending.svg" | relURL }}" />
  <img id="lcars-asset-server-success" src="{{ "/img/server-success.svg" | relURL }}" />
  <img id="lcars-asset-server-error" src="{{ "/img/server-error.svg" | relURL }}" />
  <img id="lcars-asset-scanlines" src="{{ "/img/scanlines.png" | relURL }}" />
</div>

<script defer type="application/javascript">
  window.addEventListener("DOMContentLoaded", () => {
    const canvas = document.getElementById("lcars-canvas")
    const context = canvas.getContext("2d")

    const imageRenderer = node => {
      context.drawImage(
        node.img,
        node.rect.x, node.rect.y,
        node.rect.w, node.rect.h,
      )
    }

    const nodes = [
      {
        id: 'path',
        offset: 0,
        speed: 0.4,
        update: node => {
          node.offset -= node.speed
          if (node.offset <= -12) {
            node.offset = 0
          }
        },
        render: node => {
          for (const i of [0, 1, 2, 3]) {
            context.beginPath()
            context.lineDashOffset = node.offset
            context.setLineDash([6, 6])
            context.moveTo(canvas.width / 2, canvas.height - 32)
            context.lineTo(canvas.width / 2, canvas.height / 2)
            context.lineTo((i + 1) * canvas.width / 5, canvas.height / 2)
            context.lineTo((i + 1) * canvas.width / 5, 32)
            context.lineWidth = 2
            context.strokeStyle = "rgb(239, 68, 68)"
            context.stroke()
          }
        }
      },
      {
        id: 'desktop',
        rect: {
          x: canvas.width / 2 - 16,
          y: canvas.height - 32,
          w: 32,
          h: 32,
        },
        img: document.getElementById("lcars-asset-desktop"),
        render: imageRenderer,
      },
      ...[0, 1, 2, 3].map(i => ({
        id: `server${i}`,
        rect: {
          x: (i + 1) * canvas.width / 5 - 16,
          y: 0,
          w: 32,
          h: 32,
        },
        img: document.getElementById("lcars-asset-server"),
        state: '',
        doneState: (Math.random() > 0.5 ? '-success' : '-error'),
        update: node => {
          const node_count = 4
          const frame_duration = Date.now() / 4000
          const frame_count = 3
          const frame_total = frame_count * (node_count + 1)
          // tan(x) : R -> R (wave function with a period of 2 * Math.pi)
          // 1 / (1 + e^-x) : R -> [0;1]
          const y = (1 / (1 + Math.exp(-1 * Math.tan(frame_duration)))) * frame_total

          if (y < frame_count * i) {
            node.state = ''
            node.doneState = (Math.random() > 0.5 ? '-success' : '-error')
          }
          else if (y < frame_count * (i + 1)) {
            node.state = '-pending'
          }
          else {
            node.state = node.doneState
          }

          node.img = document.getElementById(`lcars-asset-server${node.state}`)
        },
        render: imageRenderer,
      }))
    ]

    const frame = () => {
      context.clearRect(0, 0, canvas.width, canvas.height)

      for (const node of nodes) {
        if (node.update !== undefined) { node.update(node) }
        if (node.render !== undefined) { node.render(node) }
      }

      requestAnimationFrame(frame)
    }
    requestAnimationFrame(frame)
  })
</script>
